# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB-LtcneAdnA0HyQtdzsAF9Cm3NKoaxju4
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=dailytaskpay-73fac.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=dailytaskpay-73fac
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=dailytaskpay-73fac.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=238062541151
NEXT_PUBLIC_FIREBASE_APP_ID=1:238062541151:web:10aa291bb82d7b95ecfeea
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-SNHBWFPS8X

# Admin Panel Access Credentials
ADMIN_EMAIL=admin@dailytaskpay.com
ADMIN_PASSWORD=your_admin_password_here
